{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "indent": ["error", 4, {"SwitchCase": 1}],
    "comma-dangle": "off",
    "eqeqeq": 0,
    "curly": 2,
    "object-curly-spacing": "off",
    "quotes": ["warn", "single"],
    "react/jsx-indent": ["error", 4],
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off"
  }
}